{% extends "app/base.html" %}
{% block muda %}
{% load static %}
<div class="jumbotron jumbotron-fluid">
    <div class="row my-2">
        <div class="col-12 text-center my5">
            <h2 class="display-5">Categotia: {{ produto.categoria.nome |title }}</h2>

            <div class="container">
                <div class="col-7 ">
                  <ul>
                      <li class="separador"></li>

                  </ul>

                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div class="container">

    <div class="row mb-5">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ produto.imagem.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ produto.nome }}</h5>
          <p class="card-text">{{ produto.descricao }}</p>
          <a href="{{ item.get_absolute_url }}" class="btn btn-success">Ótimo Produto</a>
          <a href="#" class="btn btn-primary">R$ {{ produto.preco }}</a>
        </div>
      </div>
      <div class="card ml-3" style="width: 18rem;">

          <a href="{{ item.get_absolute_url }}" class="btn btn-success">Descriçao</a>
          <hr>
          <p class="card-text mb-3" > {{ produto.descricao }} </p>


          <div class="card-body">
            <form action="{% url "cart:cart_add" produto.id %}" method="post">
                {{ form }}
                {% csrf_token %}

              <input type="submit" class="btn btn-success" value="Adicionar  no Carrinho">
              </form>



          </div>
        </div>
      </div>


      <div class="col-sm-10 col-md-30 col-lg-8 ml-5">
        <div class="row mb-5">

          <div class="card card-center" style="width: 18rem;">


          </div>


      </div>
      </div>

  </div>


</div>






  {% endblock muda%}
