{% extends "app/base.html" %}
{% block muda %}
{% load static %}
<div class="jumbotron jumbotron-fluid">
    <div class="row my-2">
        <div class="col-12 text-center my5">
            <h2 class="display-5">PATROCINADORES</h2>

            <div class="container">
                <div class="col-7 ">
                  <ul>
                      <li class="separador"></li>

                  </ul>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row mb-3">


            <div class="row mb-3">
            <div class="col-8 ">
              <div class="card-deck">
                <div class="card">
                  <div class="jumbotron jumbotron-fluid ">
                      <div class="container">

                        <div class="col-7 ">
                          <ul>
                              <li class="separador"></li>

                          </ul>

                        </div>

                        <h1 class="display-4 text-center">Patrocinador 1</h1>


                        <div class="col-7 ">
                          <ul>
                              <li class="separador"></li>

                          </ul>

                        </div>

                        <p class="lead text-center">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                      </div>
                    </div>
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                </div>
              </div>

              <div class="col-4">
                <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="{% static "imgs/slide-01.jpg" %}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">This card has </li>
                  </ul>



                </div>
              </div>
            </div>
            </div>

            <div class="row">
            <div class="col-12">
              <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="{% static "imgs/slide-01.jpg" %}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                </div>
              </div>

            <!--  <div class="col-6 ">
                <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="{% static "imgs/slide-01.jpg" %}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>--->


            </div>











</div>







<!---<div class="col-8">
    <div class="card mb-3">
        <img class="card-img-top" src="{% static "imgs/slide-01.jpg" %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>

<div class="col-4">
    <div class="card mb-3">
        <img class="card-img-top" src="{% static "imgs/slide-01.jpg" %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>-->

</div>

</div>


  <div class="jumbotron">
    <div class="container">

    <div class="row mb-5 ">
        <div class="col-sm-5 col-md-30 col-lg-8 ">
            <form>
                <!--Inicio primeira linha-->
                <div class="form-row">
                    <!--form-group= fica dentro de um grupo do form-->
                    <div class="form-group col-sm-8">
                      <label for="inputNome">Nome</label>
                      <input type="text" class="form-control" id="inputNome" placeholder="Nome">
                    </div>
                </div>


                <div class="form-row">
                    <!--form-group= fica dentro de um grupo do form-->
                    <div class="form-group col-sm-8">
                      <label for="inputEmail"> Email</label>
                      <input type="text" class="form-control" id="inputEmail" placeholder="Seu Email">
                    </div>

                </div>
                <!--Fim Primeira linha-->

                <!--Inicio Segunda linha-->
                <div class="form-row">
                    <div class="form-group col-sm-8">
                      <label for="inputTelefone"> Telefone </label>
                      <input type="text" class="form-control" id="inputTelefone" placeholder="Telefone">
                    </div>
                </div>
                <!--Fim Segunda linha-->

                <!--Inicio Terceira linha-->
                <div class="form-row">
                    <div class="form-group col-sm-8">
                      <label for="inputMensagem">Mensagem</label>
                      <textarea class="form-control" id="inputMensagem" rows="3"></textarea>
                    </div>
                </div>
                <!--fim Terceira linha
                <div class="form-row">
                    <div class="form-group col-sm-12">
                            <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox"> Desejar Receber Novidadades por e-mail
                                </label>
                            </div>
                      </div>
                </div>-->
                <!--Linha dos Botões-->
                <div class="form-row justify-content-center">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-primary">Enviar</button>
                      <!--Botao do popover-->
                      <a class="btn btn-secondary ml-2" tabindex="0" role="button"
                      data-toggle="popover" data-placement="right" data-trigger="focus"
                      title="Ajudando Vocẽ" data-content="ETYDVhsgvjsdagvfgesdkfgsdjhvbhj">
                        Ajuda
                      </a>
                    </div>
                </div>
            </form>
        </div>

  <!----->
  <div class="col-sm-3">
  <h5> Dados</h5>
  <div class="jumbotron jumbotronfundo">
    <div class="row">
      <p>eltoni.guimaraes@gmail.com</p>
    </div>
      <div class="row">
        <p>+ 55 899 94-00-00-00</p>
      </div>

      <div class="row">
          <p class="ml-2">Floriano-PI Brasil</p>
      </div>

      <div class="row">
          <p class="ml-2">Social</p>
      </div>

      <div class="row">

        <div class="col-sm-2">

            <!--btn-block=deixa a div ocupar todo espaço do container || btn-group-lg= deixa mais largo os botões-->
            <div class="btn-group" role="group">
                  <a href="#" class="btn btn-outline-primary"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                  <a href="#" class="btn btn-outline-secondary"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#" class="btn btn-outline-primary"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

      </div>

  </div>
  </div>
  <!---->
</div>

  </div>
  </div>


  {% endblock muda%}
