

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3"><hr></div>

            <div class="col-sm-4">
                <h3> FloBike </h3>
                <p>
                  Activates a tab element and content container. Tab should
                  have either a data-target or an href targeting a container node in the DOM.
                </p>
            </div>

            <div class="col-sm-4">
                  <h3> Menu </h3>

                  <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action list-group-item-primary ">Perfil</a>
                      <a href="#" class="list-group-item list-group-item-action">Portifólio</a>
                      <a href="#" class="list-group-item list-group-item-action">Contatos</a>
                      <a href="#" class="list-group-item list-group-item-action">Depoimentos</a>
                  </div>
            </div>


            <div class="col-sm-4">
                <h3> Social </h3>
                <!--btn-block=deixa a div ocupar todo espaço do container || btn-group-lg= deixa mais largo os botões-->
                <div class="btn-group-vertical btn-block btn-group-lg" role="group">
                      <a href="#" class="btn btn-outline-primary"><i class="fa fa-facebook-official" aria-hidden="true"></i>Facebook</a>
                      <a href="#" class="btn btn-outline-secondary"><i class="fa fa-twitter" aria-hidden="true"></i>Twiter</a>
                      <a href="#" class="btn btn-outline-primary"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a>
                </div>
            </div>
            <div class="col-12 mt-5">
                <blockquote class="blockquote text-center">
                    <p class="mb-0">
                      As pessoas não sabem o que querem, até mostrarmos a elas.
                    </p>

                    <footer class="blockquote-footer">
                        Steve Jobs <cite title="Titulo"> Fundador Apple</cite>
                    </footer>

                </blockquote>
            </div>
        </div>
    </div>
</div>
