{% extends "app/base.html" %}
{% block muda %}
{% load static %}
<div class="jumbotron jumbotron-fluid">
    <div class="row my-2">
        <div class="col-12 text-center my5">
            <h2 class="display-5">Pagamento Feito</h2>

            <div class="container">
                <div class="col-7 ">
                  <ul>
                      <li class="separador"></li>

                  </ul>

                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div class="alert alert-success" role="alert">
    <div class="container">
  Muito Obrigado, Este Evento Vai Ser TOP BIke, vai Gostar.
  Convide outros amigos
  </div>
</div>




  {% endblock muda%}
