{% extends "app/base.html" %}
{% block muda %}
{% load static %}
<div class="jumbotron jumbotron-fluid">
    <div class="row my-2">
        <div class="col-12 text-center my5">
            <h2 class="display-5">Pague com o PayPal</h2>

            <div class="container">
                <div class="col-7 ">
                  <ul>
                      <li class="separador"></li>

                  </ul>

                </div>
            </div>
        </div>
    </div>
</div>

</div>

    <div class="container container-center">

    <div class="row mb-5 ">
        <div class="col-sm-5 col-md-30 col-lg-8 ">
          <h1>Pague Usando o PayPal</h1>
          {{ form.render }}
        </div>

</div>

  </div>



  {% endblock muda%}
